.stream-parent {
  height: 0;
  padding-bottom: 42.86%; /* 21:9 */
  position: relative;
}

#control_data {
  display:none;
}
.stream-container {
  height: 0;
  padding-bottom: 42.86%; /* 16:9 */
  position: relative;
  background: url('/images/logo.png') center center no-repeat rgba(0,0,0,0.65);
}
.controller {
  background: rgba(0,0,0,0.15);
  width:30%;
  height:220px;
  float:left;
  text-align: center
}
.controller_M {
  font-family: Sans-Serif;
  background: rgba(0,0,0,0.15);
  width:40%;
  height:220px;
  float:left;
  text-align: center;
}
#thrust {
  margin-top: 65px;
  width:100px;
   transform: rotate(270deg);
}
.button_off{
  margin: 8px;
  border-radius: 4px;
  background-color: #666666;
  border: none;
  color: white;
  padding: 2px 16px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}
.button_on{
  margin: 8px;
  border-radius: 4px;
  background:yellow;
  border: none;
  color:#666666;
  padding: 2px 16px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-style:solid;
}
.button_off:hover{
  background-color: #333333;
}
.button_on:hover{
  background-color: #FF8000;
}
