.stream-parent {
  height: 0;
  padding-bottom: 42.86%; /* 21:9 */
  position: relative;
}

.stream-container {
  height: 0;
  padding-bottom: 42.86%; /* 16:9 */
  position: relative;
  background: url('/images/logo.png') center center no-repeat rgba(0,0,0,0.65);
}
.controller {
  background: rgba(0,0,0,0.15);
  width:30%;
  height:150px;
  float:left;
  text-align: center
}
.controller_M {
  font-family: Sans-Serif;
  background: rgba(0,0,0,0.15);
  width:40%;
  height:150px;
  float:left;
  text-align: center;
}
#thrust {
  margin-top: 65px;
  width:100px;
   transform: rotate(270deg);
}
#StartStreamButton{
  margin: 10px;
  border-radius: 4px;
  background-color: #666666;
  border: none;
  color: white;
  padding: 4px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}
#StartStreamButton:hover{
  background-color: #333333;
}
#lights{
  margin:10px;
}
