<!DOCTYPE html>
<html>
<head>
</head>
 <script src="/socket.io/socket.io.js"></script>
 <script src="/script/script.js"></script>
<body>
<img src="http://<%= video_url %>:%= video_port %>/?action=stream"/>
<button id="hello" type="button">
      Click me!
  </button>
 <%= foo %>
</body>
</html>
