<!DOCTYPE html>
<html>
<head>
  <title>ROV Dashboard</title>
  <link rel="stylesheet" type="text/css" href="/styles/dash.css">
</head>
 <script src="/socket.io/socket.io.js"></script>
 <script src="/scripts/script.js"></script>
<body>
<div class="stream-parent">
  <div class="stream-container" id="streamcontainer">
    <img src="" id="stream">
  </div>
</div>

<button id="StartStreamButton" type="button">
      Start
  </button>
  <button id="StopStreamButton" type="button">
        Stop
    </button>
  
</body>
</html>
